/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Thiết lập nền và kiểu chữ */
body {
    background-color: #434390;
    color: white;
    text-align: center;
}
#titleWeb {
    font-size: 30px;
    text-decoration: none ;
    font-weight: bold;
    color: #ffffff;

}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #71aed1;
    padding: 10px 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Khu vực danh sách anime */
.anime-section {
    margin: 20px;
}

.anime-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 bộ phim trên 1 hàng */
    gap: 15px;
    padding: 10px;
    justify-content: center;
}

/* Tùy chỉnh card anime */
.anime-card {
    background-color: #16213e;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.anime-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.anime-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.anime-card:hover {
    transform: scale(1.05);
}

